nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
  padding: 2em;

  a{
    margin: 0 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  span {
    position: relative;
  }  
  span::before, span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: aqua;
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.5s ease;
  }  
  span::before {
    left: -8px;
  }  
  span::after {
    right: -8px;
  }
    span:hover::before, span:hover::after {
    transform: scaleY(1);
  }

  .active span{
    color: aqua;
  }
  
}